.header {
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: auto;
    padding: 5px;
    top: 10px;
    box-shadow: 0px 0px 2px #00000007;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;

  }

.middle {
    width: 50%;
}
.nickname {
    font-weight: bold;
    font-size: 35px;
    margin-left: 30px;
}

.unknown {
    display: block;
    font-size: 25px;
    color: rgb(145, 145, 145);
    margin-left: 30px;
    margin-top: 20px;
}

.seemore {
  
  font-size: small;
  color: rgb(172, 172, 172);
}


.log-button {
  position: fixed;
  bottom: 10%;
  background-color: #fcb391;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  padding: 12px;
  width: 90%;
  margin-left: 5%;

  &:active {
    background-color: #8B4513;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 20px;
}

.week-analysis, .activity {
    // position: relative; /* 定位基准 */
    float: left;
    width: 40%;
    height: 150px;
    margin: auto;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-size: 100% 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    justify-content: center;
}

.week-content {
    font-family: 'summerpoem';
    font-size: 80px;
    color: #343357;
    font-weight: bold;
    margin-left: 55px;
    margin-top: 40px;
}

.activity-content {
    position: relative;
    font-family: 'summerpoem';
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 50px;
    margin-top: 60px;
}