.calendar {
  margin-top: 20px;
  margin: auto;
  background-color: white;
  width: 95%;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0px 0px 1px #11111131;
  margin-bottom: 20px;
}

.header {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: space-between; 
  padding: 0 10px; /* 添加左右内边距 */
}

.left-container {
  display: flex;
  align-items: center;
}

.jar-button {
  width: 100px;
  height: 100px;
}

.diary-list {
  width: 70px;
  height: 80px;
  margin-left: 10px;
}


.mood-tag {
  font-family: 'XinYuGongPinBoTi', sans-serif !important;
  // text-align: right; 
  margin-right: 5%;
  color: #1D5E04;
}

.add_btn {
  position: fixed; /* 固定定位关键修改 */
  height: 100px;
  width: 100px;
  bottom: 80px;
  right: 50px;
  z-index: 999; /* 确保按钮在最上层 */
  min-width: 100px;
  min-height: 100px;
}


.scrip-card {
  width: 90%;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mood {
  width: 80px;
  height: 80px;
  margin-right: 25px;
  margin-left: 20px;
}

.sentence {
  font-family: 'summerpoem', sans-serif !important;
  font-size: 40px;
  font-family: '楷体';
  white-space: normal;
  width: 65%;
  color: #6F624E;
}

.time {
  width: 15%;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 25px;
  color: rgb(138, 138, 138);
}

.note {
  margin-top: 20px;
}

.title {
  margin-left: 5%;
  color: #6F624E;
  font-weight: bold;
  font-size: large;
}

.more {
  float: right;
  margin-right: 6%;
  font-size: small;
  color: rgb(172, 172, 172);
}

.cute {
  position: fixed;
  bottom: -43px;
  width: 136px;
  height: 205px;
  left: 40%;
}

.login-page {
  position: fixed; /* 固定定位覆盖全屏 */
  top: 0;
  left: 0;
  width: 100vw; /* 视口宽度100% */
  height: 100vh; /* 视口高度100% */
  background-size: cover; /* 覆盖整个容器 */
  background-position: center center; /* 图片居中显示 */
  background-repeat: no-repeat; /* 不重复 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直居中 */
  align-items: center; /* 水平居中 */
}

.login-btn {
  position: absolute; /* 绝对定位 */
  top: 85%; /* 距离顶部70%，达到中间偏下位置 */
  transform: translateY(-50%); /* 垂直偏移自身高度一半 */
  
  /* 按钮样式 */
  width: 70%;
  max-width: 300px;
  padding: 20rpx 40rpx;
  background-color: #fcb391; /* 微信绿色 */
  color: #8B4513;
  font-size: 32rpx;
  border-radius: 50rpx;
  box-shadow: 0 8rpx 20rpx rgba(0, 0, 0, 0.2);
  border: none;
  z-index: 10; /* 确保按钮在上层 */
}